#unity-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 16 / 9;
    width: min(calc(100vh * (16 / 9)), 100vw);
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black; /* Устанавливает фон для заполнения при расчете размеров */
}

#unity-canvas {
    width: 100%;
    height: 100%;
    background-color: transparent; /* Убираем цвет фона, если черный цвет появляется из-за фона */
}

#unity-container.unity-mobile {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 16 / 9;
    width: min(calc(100vh * (16 / 9)), 100vw);
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black; /* Устанавливает фон для заполнения при расчете размеров */
}
